:root {
  --brand-color_1: #2f303a;
  --brand-color_2: #2196f3;
  --brand-color_3: #212121;
  --brand-color_4: #e5e5e5;
  --brand-color_5: #757575;
  --brand-color_6: #ffffff;
}

body {
  width: 1600px;
  font-family: 'roboto', 'sans-serif';
  letter-spacing: 0.03em;
  background-color: var(--brand-color_4);
  color: var(--brand-color_3);
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  /* Сброс стилей */
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

/* Скрытые элементы */

.list {
  list-style: none;
}

.qualities-title,
.gallery-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

/* Шапка */
.header-box {
  display: inline-flex;
  justify-content: center;
  margin-top: 0;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: flex;
  margin-left: 93px;
  align-items: center;
  margin-left: 0;
}

.nav-list-item:not(:last-child) {
  padding-right: 50px;
}

.list-contacts {
  display: inline-flex;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-header {
  background: var(--brand-color_6);
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-web {
  color: var(--brand-color_2);
}

.logo-studio {
  color: var(--brand-color_3);
}

.nav-page-studio:hover,
.nav-page-portfolio:hover,
.nav-page-contacts:hover,
.nav-page-studio:focus,
.nav-page-portfolio:focus,
.nav-page-contacts:focus {
  color: var(--brand-color_2);
}

.current {
  color: var(--brand-color_2);
}

.nav-page-studio {
  color: var(--brand-color_3);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-page-portfolio {
  color: var(--brand-color_3);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-page-contacts {
  color: var(--brand-color_3);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-item-meil:hover,
.contacts-item-tel:hover,
.contacts-item-meil:focus,
.contacts-item-tel:focus {
  color: var(--brand-color_2);
}

.contacts-item-meil:not(last-child) {
  padding-right: 50px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color_5);
}

.contacts-item-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color_5);
}

/* Заголовок H1 */
.hero-header {
  background-color: var(--brand-color_1);
}

.hero-header-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--brand-color_6);
}

.hero-btn {
  border: none;
  background: var(--brand-color_2);
}

.hero-btn-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--brand-color_6);
}

/*Качества компании */

.qualities-section {
  background: var(--brand-color_4);
}

.qualities-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.qualities-list-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--brand-color_5);
}

/* Чем мы занимаемся */

.products-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Наша команда */

.team-section {
  background: #f5f4fa;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--brand-color_5);
}

/* Подвал */

.footer {
  background-color: var(--brand-color_1);
}

.footer-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer-web {
  color: var(--brand-color_2);
}

.footer-studio {
  color: var(--brand-color_6);
}

.footer-address {
  color: var(--brand-color_6);
}

.footer-meil {
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
  color: rgba(255, 255, 255, 0.6);
}

.footer-address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.footer-meil {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

/* -------------------Портфолио------------------- */

.filter-btn:hover,
.filter-btn:focus {
  color: var(--brand-color_6);
  background-color: var(--brand-color_2);
}

.filter-btn {
  font-family: roboto;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}

/* Галерея Портфолио */

.gallery-project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-project-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--brand-color_5);
}
